/* Post Views Counter settings */
.post-views-counter-settings {
    &.has-sidebar {
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: space-between;
    }

    form {
        min-width: 463px;
        width: auto;
        position: relative;
    }

    p.help,
    p.description {
        font-size: 13px;
        font-style: italic;
        line-height: 1.6;
    }

    div.ip-box {
        margin-bottom: 3px;
    }

    select {
        vertical-align: top;
    }

    .available {
        color: #00a32a;
    }

    .unavailable {
        color: #d63638;
    }

    .pvc-button {
        color: #fff;
        background-color: #6610f2;
        border-color: #6610f2;

        &:active,
        &:focus,
        &:hover {
            color: #fff;
            background-color: #570ece;
            border-color: #570ece;
        }

        &:focus {
            box-shadow:
                0 0 0 1px #fff,
                0 0 0 3px #6610f2;
        }
    }

    .pvc-pro-extended {
        label[for='pvc_import_strategy_skip_existing'],
        label[for='pvc_import_strategy_keep_higher_count'],
        label[for='pvc_import_strategy_fill_empty_only'] {
            &:after {
                content: 'PRO';
                display: inline-block;
                margin-left: 6px;
                padding: 1px 4px;
                font-size: 11px;
                border-radius: 4px;
                background-color: #ffc107;
                color: #fff;
                font-weight: 600;
            }
        }
    }
}

.post-views-sidebar {
    width: 280px;
    min-width: 280px;
    margin: 15px 0;
    position: relative;
    order: 1;

    > div:not(:last-child) {
        margin-bottom: 3em;
    }

    .inner {
        padding: 2em;

        img {
            max-width: 80%;
            height: auto;
            display: block;
            margin: 20px auto;
        }
    }
}

.pvc-status-table {
    .pvc-status {
        display: inline-block;
        font-size: 0.95em;
    }

    .pvc-status-active {
        color: #00a32a;
    }

    .pvc-status-missing {
        color: #d63638;
    }
}

.pvc-subfield {
    margin-top: 12px;
}

/* Single post edit screen */
#misc-publishing-actions {
    #post-views {
        #post-views-display:before {
            display: inline-block;
            font: 400 20px/1 dashicons;
            left: -1px;
            padding: 0 2px 0 0;
            position: relative;
            text-decoration: none !important;
            vertical-align: top;
            color: #888;
            content: '\f185';
            top: -1px;
        }
    }
}

/* Listing edit screen */
.edit-php {
    .widefat {
        th {
            &#post_views {
                width: 5.5em;
            }

            &.column-post_views {
                .dashicons,
                .dashicons:before {
                    font-size: 1.1em;
                    vertical-align: middle;
                }
            }

            .dash-title {
                display: none;
            }
        }

        td {
            .dashicons,
            .dashicons:before {
                font-size: 1.1em;
            }
        }
    }

    .metabox-prefs {
        .dash-icon {
            display: none;
        }
    }

    #inline-edit-post_views {
        input {
            width: auto;
        }
    }
}

.upload-php {
    .widefat {
        .dash-title {
            display: none;
        }
    }
}

.is-hidden {
    display: none !important;
    visibility: hidden !important;
}

output {
    display: block;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
    width: 100%;
}

.post-views-credits {
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);

    .inner {
        text-align: center;
        margin: 0;
    }

    h2 {
        border: none;
        padding-bottom: 0;
        font-size: 23px;
        font-weight: normal;
        margin: 0.25em 0 0.5em;
        color: #6610f2;
    }

    h3 {
        font-size: 18px;
        line-height: 1.4;
        font-weight: normal;
        margin: 0;
        padding: 0;
        color: #6610f2;
    }

    p:first-child {
        margin-top: 0;
    }

    .pvc-sidebar-title {
        font-size: 17px;
        font-weight: bold;
        margin: 10px 0 20px;
    }

    .pvc-sidebar-body {
        padding-bottom: 0;
        font-size: 14px;
        text-align: left;
        margin: 2em 0;
        padding: 0;

        p {
            padding-left: 20px;
            margin: 0.75em 0;
            position: relative;
        }

        b {
            font-weight: bold;
            color: #000;
        }

        .pvc-icon {
            position: absolute;
            top: 0;
            left: 0;
        }

        .pvc-icon-check {
            box-sizing: border-box;
            display: block;
            transform: scale(1);
            width: 16px;
            height: 22px;
            border-radius: 100px;

            &::after {
                content: '';
                display: block;
                box-sizing: border-box;
                position: absolute;
                left: 0;
                top: 0;
                width: 6px;
                height: 10px;
                border-width: 0 2px 2px 0;
                border-style: solid;
                transform-origin: bottom left;
                transform: rotate(45deg);
            }
        }
    }

    .pvc-sidebar-footer {
        margin: 1em 0;
    }
}

#post_views_counter_other_license_setting {
    .pvc-status-icon {
        vertical-align: middle;
        margin-left: 8px;
        padding-bottom: 3px;

        &:before {
            content: '?';
            color: #d63638;
        }
    }

    &.license-status {
        .pvc-status-icon:before {
            content: '?';
            color: #d63638;
        }

        &.valid {
            .pvc-status-icon:before {
                content: '?';
                color: #00a32a;
            }
        }
    }
}

#pvc-reports-upgrade {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    min-height: 400px;

    #pvc-reports-bg {
        width: 100%;
        height: auto;
        opacity: 0.8;
        filter: blur(2px);
    }

    #pvc-reports-modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1.5em 3em;
        box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        background-color: #fff;
        text-align: center;
        width: 26em;

        p {
            margin: 0;
        }

        h2 {
            font-size: 21px;
            font-weight: 400;
            margin: 0 0 10px 0;
            padding: 9px 0 4px;
            line-height: 1.3;
        }

        .button {
            margin-top: 25px;
            margin-bottom: 10px;
        }
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 960px) {
    .post-views-counter-settings {
        flex-wrap: wrap;

        .post-views-sidebar {
            width: 100%;
        }
    }
}

/* Import Providers */
.pvc-provider-radio {
    display: inline-block;
    margin-right: 20px;
    font-weight: normal;

    input[type='radio'] {
        margin-right: 5px;
    }
}

.pvc-provider-disabled {
    opacity: 0.6;
    cursor: not-allowed;

    input[type='radio'] {
        cursor: not-allowed;
    }
}

.pvc-provider-content {
    margin: 0;
}

.pvc-provider-fields {
    padding: 0;
    margin-top: 15px;

    label {
        font-weight: 600;
        margin-bottom: 5px;
        display: block;
    }

    input.regular-text {
        margin-top: 5px;
    }
}

.pvc-provider-unavailable {
    color: #d63638;
    font-style: italic;
}

.pvc-import-strategy {
    margin-bottom: 25px;
}

.pvc-field-group {
    label {
        margin-right: 8px;
    }
}

.pvc-radio-vertical {
    label {
        display: block;
        margin: 6px 0;
        font-weight: normal;
    }

    input[type='radio'] {
        margin-right: 5px;
    }
}

.pvc-import-actions {
    padding-top: 10px;

    .button {
        margin-right: 10px;
    }

    .button-primary {
        font-weight: 600;
    }
}
